<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ModuloBase</display-name>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>dataSource.name.jni</param-name>
    <param-value>MU22</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>redmond</param-value>
  </context-param>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>micrium.user.controler.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
<!--       <secure>true</secure> -->
    </cookie-config>
  </session-config>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>micrium.user.filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/view/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>micrium.user.filter.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>view/login.xhtml</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/view/error_page500.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/view/error_page501.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/view/error_page.jsp</location>
  </error-page>
  <security-constraint>
    <display-name>excluded</display-name>
    <web-resource-collection>
      <web-resource-name>No Access</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>ALLOW</http-method>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>